on:
  push:
    branches: master
  schedule:
    - cron: "*/5 * * * *"

name: Render README

jobs:
  render:
    name: Render README
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown
        run: Rscript -e 'install.packages(("rmarkdown", "tidyverse", "zoo", "here", "extrafonts"))'
      - name: Render README
        run: Rscript -e 'rmarkdown::render("README.Rmd", output_format = "github_document")'
      - name: Commit results
        run: |
          git commit README.md -m 'Re-build README.Rmd' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
